.bg{
    height: 400px;
}
.aboutus{
height: 500px;
text-align: center;
padding-top: 30px;
margin-bottom: 30px;
}
.para{
    
    text-indent: 0;
    margin-left: 250px;
    margin-right: 250px;
  
   
  
}
